#content {
    margin: 10px;
}

.choose-folder-block {
    display: inline;
    float: left;
    width: 650px;
}

#chosePath {
    display: inline;
    float: right;
}

.logo {
    display: inline;
    height: 20px;
    margin-right: 5px;
}